
/*set margin space arround elements with outer elements

Note: 
Vertical margin collapses, means max one will consider
horizontal margin add up, means add both margin 


margin: auto
margin: (for all side) px
margin: (top-bottom, left-right) px
margin: (top, right, bottom, left) px

margin-top, margin-bottom, margin-left, margin-right
margin-inline, margin-block
margin-inline-start,margin-inline-end
margin-block-start, margin-block-end
*/
div{
    height: 100px;
    width: 100px;
    background-color: red;
    color: yellow;
    font: large bold;
}
.b1{
    margin-bottom: 50px;
}


.b2{
    margin-left: 20px;
}

.b3{
    margin: auto;
}