/*
vertical-aling to set position of element vertically: 

vertical-aling: auto,top,middle,bottom.

*/
#main{
    background-color: black;
    width: fit-content;
}

#main div{
    background-color:green;
    border: 2px red solid;
    display: inline-block;
}

#div1{
    height: 100px; width: 100px;
    vertical-align:auto;
}

#div2{
    height: 200px; width: 200px;
    vertical-align: bottom;
}

#div3{
    height: 150px; width: 150px;
    vertical-align: middle;
}

#div4{
    height: 50px; width: 50px;
    vertical-align: top;
}