/*
box-model consists of: content, padding, borders and margins. 

- Content : The content of the box, where text and images appear
- Padding : Clears an area around the content. The padding is transparent
- Border : A border that goes around the padding and content
- Margin : Clears an area outside the border. The margin is transparent

** box-sizing: content-box, border-box

* content-box: This property is by default and not allow to include padding, border and margin in height and width of content. So,
    [Total Box height = height + top padding + bottom padding + top border + bottom border]
    [Total Box width = width + left padding + right padding + left border + right border]
    [content height = height]
    [content width = width]

* border-box: This property is allow to include padding, border and margin in height and width of content. So,
    [Total Box height = height]
    [Total Box width = width]
    [content height = Total Box height - top padding - bottom padding - top border - bottom border]
    [content width = Total Box width - left padding - right padding - left border - right border]
*/
#image{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#doc{
    display: inline-block;
    height: auto;
    width: 50%;
}

#doc div{
    height: 100px;  
    width: 100px;
    margin: 2px;
    padding: 3px;
    border: 2px black solid;
}

#div1{
    background-color:cyan;
    box-sizing: content-box;
}

#div2{
    background-color:yellow;
    box-sizing: border-box;
}
