/* 
Media queries allow you to apply CSS styles depending on a device's media type (such as print vs. screen) or other features or characteristics such as screen resolution or orientation, aspect ratio, browser viewport width or height, user preferences such as preferring reduced motion, data usage, or transparency.

Media type: sceen, print, speech, all, ...

all	- Used for all media type devices
print - Used for print preview mode
screen - Used for computer screens, tablets, smart-phones etc.
speech - used for screen reader

Mobile First View
Desktop First View

@media screen and (device-width: 800px)
@media screen and (max-width:900px)
@media screen and (device-height: 600px)
@media all and (orientation:portrait)
@media all and (orientation:landscape)
@media screen and (device-aspect-ratio: 16/9)
@media screen and (device-aspect-ratio: 1280/720)
@media screen and (min-device-aspect-ratio: 1280/720)
@media screen and (aspect-ratio: 16/9)
@media screen and (aspect-ratio: 1280/720)
@media screen and (max-aspect-ratio: 1280/720)
 */


/*---------Desktop First View----------*/
#div1{
    width: 60%;
    font-size: 1.25rem;
    border: 1px solid black;
}

/*this will apply only when screen width is 900px and less than */
@media screen and (max-width:900px)
{
    #div1{
        width: 90%;
        color:blue;
    }
}

/*this will apply only when screen width is 600px and less than */
@media screen and (max-width:600px)
{
    #div1{
        width: 100%;
        color:red;
    }
}
/*this will apply only when print width is less than 900px*/
@media print and (max-width:900px)
{
    #div1{
        width: 80%;
        color: green;
    }
}


/*---------Mobile First View----------*/
#div2{
    width: 100%;
    font-size: 1.25rem;
    border: 1px solid black;
}

/*this will apply only when screen width is greater than 572px*/
@media screen and (min-width:572px)
{
    #div2{
        width: 80%;
        color:blue;
    }
}

/*this will apply only when screen width is greater than 952px*/
@media screen and (min-width:952px)
{
    #div2{
        width: 60%;
        color:red;
    }
}

/*this will apply only when print width is greater than 952px*/
@media print and (min-width:952px)
{
    #div2{
        width: 100%;
        color: purple;
    }
}