.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(-clr-bg);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadIcon {
    padding: 2rem;
    height: 30vw;
    border: 10px solid var(--clr-bg-contrast);
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}