.table {
  border: none;
  margin: 4rem auto;
  margin-top: 0;
  position: relative;
  width: 50%;
}

.table tr {
  background-color: #d9d9d936;
}

.table tr td,
thead tr th {
  border: none;
  padding: 10px;
}

.table tr:nth-last-child() {
  color: green;
}

tr th {
  border-bottom: 2px solid black !important;
}

.totalPrice {
  border-top: 2px solid white;
  position: absolute;
  bottom: -2.5rem;
  right: 0;
  width: 100%;
  text-align: right;
  padding-left: 84.85%;
  margin-top: 10px;
}
