.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(64, 77, 148, 0.4) 0px 2px 8px 0px;
}

.productContainer:hover {
  box-shadow: rgba(64, 77, 148, 0.4) 0px 2px 8px 0px;
}
