<!-- ejs for footer -->
<footer>
  <p>CSV Viewer 2024</p>
  <div class="footer-links">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="https://github.com/jaydattpatel" target="_blank"
      ><i class="fa-brands fa-github"></i
    ></a>
  </div>
</footer>
