<!-- ejs for header -->
<header>
  <h2>
    <img src="/images/csv-logo.png" alt width="60px" />
    <span>CSV Viewer</span>
  </h2>
</header>
<div
  id="jaydattlogo"
  style="
    position: fixed;
    bottom: 2%;
    right: 3%;
    color: red;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10;
  "
>
  @Jaydatt
</div>
