.loader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.top h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

.top button {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(0, 119, 255);
  background-color: rgba(0, 119, 255, 0.1);
  border: 2px solid rgb(0, 119, 255);
  cursor: pointer;
}
.top .active {
  color: rgb(255, 19, 0);
  background-color: rgba(255, 19, 0, 0.1);
  border: 2px solid rgb(255, 19, 0);
}

.albumsList {
  display: grid;
  grid-template: repeat(1, 150px) / repeat(auto-fit, minmax(150px, 0.5fr));
  grid-auto-flow: row;
  grid-auto-rows: 150px;
  gap: 30px;
  margin-bottom: 100px;
}

.album {
  width: 100%;
  height: 100%;
  border: 5px solid #eeeeee;
  margin-block: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: border-color 0.3s;
}

.album span {
  justify-self: baseline;
  width: 100%;
  text-align: center;
  padding-block: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #eeeeee;
  transition: 0.3s;
}

.album img {
  width: 50px;
  margin-bottom: 30px;
}

.album:hover {
  border-color: #0077ff;
  color: #fff;
}
.album:hover span {
  background-color: #0077ff;
}
