.box {
    width: 100%;
    padding: 0.5rem 1rem;
    position: fixed;
    top : 0;
    background-color: #EB455F;
    color: #FCFFE7;
    z-index: 1000;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    animation: slideIn 0.5s ease-in-out,
                slideOut 0.5s ease-in-out 3s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}