<div class="container-lpage">
  <div class="container-lpage d-flex flex-wrap justify-content-center">
    <div class="left p-2">
      <h1 class="main-heading">A comprehensive platform for reliable</h1>
      <h2 class="text-white ml12">
        <span class="letter">j</span><span class="letter">o</span
        ><span class="letter">b</span> <span class="letter">o</span
        ><span class="letter">p</span><span class="letter">p</span
        ><span class="letter">o</span><span class="letter">r</span
        ><span class="letter">t</span><span class="letter">u</span
        ><span class="letter">n</span><span class="letter">i</span
        ><span class="letter">t</span><span class="letter">i</span
        ><span class="letter">e</span><span class="letter">s</span>
        <span class="letter">a</span><span class="letter">n</span
        ><span class="letter">d</span> <span class="letter">i</span
        ><span class="letter">n</span><span class="letter">t</span
        ><span class="letter">e</span><span class="letter">r</span
        ><span class="letter">n</span><span class="letter">s</span
        ><span class="letter">h</span><span class="letter">i</span
        ><span class="letter">p</span><span class="letter">s</span
        ><span class="letter">.</span>
      </h2>
      <h5 class="text-white">Get Discovered. Get Hired.</h5>
      <div class="actions">
        <a href="/jobs" class="btn btn-lg lbtn m-2"> I'm A Job Seeker </a>
        <button
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          class="btn btn-lg lbtn m-2"
        >
          I'm A Recruiter
        </button>
      </div>
    </div>
    <div class="center align-content-center">
      <img src="images/banner.png" alt="banner" />
    </div>
  </div>
</div>

<script>
  var textWrapper = document.querySelector(".ml12");
  textWrapper.innerHTML = textWrapper.textContent.replace(
    /\S/g,
    "<span class='letter'>$&</span>"
  );

  anime
    .timeline({ loop: true })
    .add({
      targets: ".ml12 .letter",
      translateX: [40, 0],
      translateZ: 0,
      opacity: [0, 1],
      easing: "easeOutExpo",
      duration: 1200,
      delay: (el, i) => 500 + 30 * i,
    })
    .add({
      targets: ".ml12 .letter",
      translateX: [0, -30],
      opacity: [1, 0],
      easing: "easeInExpo",
      duration: 1100,
      delay: (el, i) => 100 + 30 * i,
    });
</script>
