
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>easily</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div
    id="jaydattlogo"
    style="
      position: fixed;
      bottom: 2%;
      right: 3%;
      color: red;
      font-family: Arial, sans-serif;
      font-weight: bolder;
      background-color: rgba(0, 0, 0, 0);
      z-index: 10;
    "
  >
    @Jaydatt
  </div>
    <nav id="mynav" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">easily</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <%if(!userEmail){%>
            <li class="nav-item">
              <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="nav-link active">
                Register
              </button>
            </li>
            <%}%>
            
            <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%if(!userName){%>
                Recruiter
              <%}else{%>
                <%=userName%>
              <%}%>
              </a>
              
              <ul class="dropdown-menu">
                <li>
                  <%if(!userEmail){%>  
                    <a class="dropdown-item" href="/login">Login</a>
                  <%}else{%>
                    <a class="dropdown-item" href="/logout">Logout</a>
                  <%}%>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item" href="/postjob">Post New Job</a>
                </li>
              </ul>
            <li class="nav-item">
              <a class="nav-link" href="/jobs">Jobs</a>
            </li></li>
          </ul>
          <form action="/search" method="post" class="d-flex" role="search">
            <input class="form-control me-2" name='search' type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

<!-- Modal for registeration -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title bold" id="staticBackdropLabel">
          Experience easily!
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-1">
        <form action="/register" method="post" class="">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Name</span>
              <input required="" name="name" type="text" aria-label="name" class="form-control" placeholder="enter your name">
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password">
            </div>
          </div>

          <button type="submit" class="btn btn-md m-2  lbtn">Register</button>
        </form>
      </div>
      <div class="modal-footer d-flex align-items-centre justify-content-between">
        <div class="left d-flex flex-row align-items-centre justify-content-centre">
          <!-- Button trigger login modal -->
          <span>Already registered?</span>
          <button type="button" class="btn btn-sm px-3 btn-outline-success" data-bs-toggle="modal" data-bs-target="#loginModal">
            login
          </button>
        </div>
        <div class="right">
          <a href="#"><i class="text-primary bi bi-twitter"></i></a>
          <a href="#"><i class="text-danger bi bi-instagram"></i></a>
          <a href="#"><i class="text-info bi bi-facebook"></i></a>
          <a href="#"><i class="text-success bi bi-whatsapp"></i></a>
          <a href="#"><i class="text-primary bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered m-0 mx-auto d-flex justify-content-center align-items-centre px-3" style="width: 100%; height: 100%;">
    <div class="modal-content mx-auto w-100" style="min-width: 300px;">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
          Experience easily!
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-1">
        <form action="/login" method="post" class="">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password">
            </div>
          </div>

          <button type="submit" class="btn btn-md mt-2 lbtn">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

        <%- body %>

  </body>
  </html>
