<div><div class="error-box container-fluid bg-theme">
    <div class="top">
      <h1 style="color: white; font-size: 100px">OOPs</h1>
      <img width="400px" src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404">
    </div>

    <%if(err){ %>
        <h1 class="p-a text-danger"><%=err%></h1>
    <%}%>
  </div>
</div>