<div style="width: 100%">
  <div class="error-box container-fluid bg-theme w-100" style="width: 100%">
    <div class="top d-flex flex-wrap">
      <h1 style="color: white; font-size: 80px">OOPs</h1>
      <img
        width="300px"
        src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg"
        alt="404"
      />
    </div>

    <%if(err){ %>
    <h1 class="p-a text-danger"><%=err%></h1>
    <%}%>
  </div>
</div>
