<h1 class="mt-5 mb-4">Register</h1>

<%if(errorMessage){ %>
    <%errorMessage.forEach(err=>{%>
    <div class="alert alert-danger" role="alert">
        <%= err.msg %>
    </div>
    <%})%>
<%}%>

<form action="/register" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>