.loader {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px;
}

.top span {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}

.top span img {
  width: 30px;
}

.top h3 {
  font-size: 1.7rem;
  font-weight: 700;
}

.top button {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  color: rgb(0, 119, 255);
  background-color: rgba(0, 119, 255, 0.1);
  border: 2px solid rgb(0, 119, 255);
  cursor: pointer;
}
.top .active {
  color: rgb(255, 19, 0);
  background-color: rgba(255, 19, 0, 0.1);
  border: 2px solid rgb(255, 19, 0);
}

.imageList {
  display: grid;
  grid-template: repeat(1, 150px) / repeat(auto-fit, minmax(175px, 0.5fr));
  grid-auto-flow: row;
  grid-auto-rows: 150px;
  gap: 20px;
  margin-bottom: 50px;
}

.image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.image > img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.delete,
.update {
  outline: none;
  border: none;
  position: absolute;
  top: -15px;
  right: -15px;
  display: none;
  transition: 0.3s;
}

.delete img,
.update img {
  width: 35px;
}

.delete.active,
.update.active {
  display: block;
}

.update {
  right: 30px;
}

.update:hover,
.delete:hover {
  transform: scale(0.95);
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: 30px;
}

.search input {
  outline: none;
  padding: 5px;
  padding-left: 10px;
  font-size: 1.1rem;
  font-weight: 300;
}

.search img {
  width: 30px;
  cursor: pointer;
}
