p {
  font-size: medium;
}

h2 {
  font-size: large;
}

/* now making properties for both tags*/
p,
h2 {
  color: brown;
}

/* now making properties to select all nesting specified tags for IDs*/
#hh h2,
#hh p {
  background-color: aquamarine;
}

/* now making properties for both IDs*/
.hd,
.pg {
  font-family: cursive;
}

/* now making properties to select all nesting specified tags for class*/
.nest1 h2 {
  color: chocolate;
}

.nest2 p {
  color: rgb(4, 176, 4);
}

/* now make properties to select all span to all h4 which have this class  */
h4.nest3 span {
  color: blue;
}
