/*
max-height, max-width
min-height, min-width

overflow: auto, scroll, hidden, visible
overflow-x, overflow-y

overflow allow to set view of box

*/
div {
  margin: 1px;
  display: inline-block;
  vertical-align: top;
}

#div1 {
  max-height: 400px;
  max-width: 23%;
  min-height: 200px;
  min-width: 200px;
  border: 2px black solid;
  background-color: cyan;
  overflow: auto;
}

#div2 {
  max-height: 400px;
  max-width: 23%;
  min-height: 200px;
  min-width: 200px;
  border: 2px black solid;
  background-color: yellow;
  overflow: scroll;
}

#div3 {
  max-height: 400px;
  max-width: 23%;
  min-height: 200px;
  min-width: 200px;
  border: 2px black solid;
  background-color: greenyellow;
  overflow: hidden;
}

#div4 {
  max-height: 400px;
  max-width: 23%;
  min-height: 200px;
  min-width: 200px;
  border: 2px black solid;
  background-color: lightcoral;
  overflow: visible;
}
