/*  
background : radial-gradient()
background : repeating-radial-gradient()

circle and ellipse(by default)

background : radial-gradient(colo-1,color-2,...); 
background : radial-gradient(colo-1 %, color-2 %,...); 
background : radial-gradient(colo-1 start% stop%, color-2 start% stop%,...);
background : radial-gradient(to direction or degree,colo-1,color-2,...); 

to direction : circle or ellipse  at top, circle or ellipse at top right,...
 
color keyword : rgb, rgba, transparent....
*/
body {
  background-image: url("Images/Galaxy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#main-screen {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#main-screen div {
  height: 150px;
  width: 150px;
  border: 1px black solid;
  text-align: center;
  margin: 5px;
  background-size: cover;
  text-wrap: wrap;
  word-wrap: break-word;
}

.g1 {
  background: radial-gradient(red, green);
}
.g2 {
  background: radial-gradient(red, green, blue);
}
.g3 {
  background: radial-gradient(red 50%, green 50%);
}
.g4 {
  background: radial-gradient(red 70%, green 30%);
}
.g5 {
  background: radial-gradient(red 30%, green 70%);
}
.g6 {
  background: radial-gradient(
    red 0% 25%,
    green 25% 50%,
    blue 50% 75%,
    yellow 75% 100%
  );
}
.g7 {
  background: radial-gradient(red 25%, green 50%, blue 75%, yellow 100%);
}
.g8 {
  background: radial-gradient(circle at top, red, green, blue);
}
.g9 {
  background: radial-gradient(circle at bottom, red, green, blue);
}
.g10 {
  background: radial-gradient(circle at left, red, green, blue);
}
.g11 {
  background: radial-gradient(circle at right, red, green, blue);
}
.g12 {
  background: radial-gradient(circle at top left, red, green, blue);
}
.g13 {
  background: radial-gradient(circle at top right, red, green, blue);
}
.g14 {
  background: radial-gradient(circle at bottom left, red, green, blue);
}
.g15 {
  background: radial-gradient(circle at bottom right, red, green, blue);
}
.g16 {
  background: radial-gradient(closest-side, red, green, blue);
}
.g17 {
  background: radial-gradient(closest-corner, red, green, blue);
}
.g18 {
  background: radial-gradient(farthest-side, red, green, blue);
}
.g19 {
  background: radial-gradient(farthest-corner, red, green, blue);
}
.g20 {
  background: radial-gradient(farthest-side at 10%, red, green, blue);
}

.g23 {
  background: radial-gradient(ellipse at 10%, red, green, blue);
}
.g24 {
  background: radial-gradient(ellipse at 10% 50%, red, green, blue);
}
.g25 {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Images/food.jpg");
}
.g26 {
  background: radial-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("Images/food.jpg");
}
.g27 {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
    url("Images/food.jpg");
}
.g28 {
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url("Images/food.jpg");
}

.g29 {
  background: radial-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)),
    url("Images/food.jpg");
}

.g30 {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("Images/food.jpg");
}
.g31 {
  background: radial-gradient(rgba(255, 238, 0, 0.5), rgba(0, 0, 0, 0)),
    url("Images/food.jpg");
}
.g32 {
  background: radial-gradient(rgba(255, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)),
    url("Images/food.jpg");
}
.g33 {
  background: radial-gradient(rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 50%),
    url("Images/food.jpg");
}
.g34 {
  background: radial-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 50%),
    url("Images/food.jpg");
}

.g35 {
  background: radial-gradient(rgba(255, 238, 1, 0.5) 50%, transparent 50%),
    url("Images/food.jpg");
}
