p {
  display: inline-block;
}

p[data-about="blog"] {
  background-color: #f78a84;
}

p[data-info="contact"] {
  background-color: #df2e2e;
}

p[data-info="name"] {
  background-color: #2edf34;
}
