p {
  text-decoration: underline;
  font-size: 15px;
  color: rgb(4, 4, 4);
  font-family: Arial;
}

/* color with direct value entry */
.box1 {
  height: 70px;
  width: 70px;
  background-color: #3937ab;
}

/* color with rgb (red,green,blue) value (0 to 255) */
.box2 {
  height: 70px;
  width: 70px;
  background-color: rgb(25, 126, 200);
}

/* color with rgba (red,green,blue,alpha) with alpha value (0.0 to 1.0) for Tranperant. [0.0 for Full tranperent] and [1.0 for Full visible] */
.box3 {
  height: 70px;
  width: 70px;
  background-color: rgba(25, 126, 200, 0.3);
}

/* color with hsl (hue,saturation,lightness) 
hue range : 0.0 to 360.0 degree
saturation , lightness range : 0 to 100 %
*/
.box4 {
  height: 70px;
  width: 70px;
  background-color: hsl(0, 100%, 50%);
}
/* color with hsl (hue,saturation,lightness,alpha) with alpha value (0.0 to 1.0) for Tranperant. [0.0 for Full tranperent] and [1.0 for Full visible]
hue range : 0.0 to 360.0 degree
saturation , lightness range : 0 to 100 %
*/
.box5 {
  height: 70px;
  width: 70px;
  background-color: hsla(0, 100%, 50%, 0.5);
}
