/* creating absolute size unit */
.parent_px {
  height: 300px;
  width: 300px;
  background-color: rgb(255, 0, 8);
}

/* creating relative unit size depends on other */
.child_percent {
  height: 50%;
  width: 50%;
  background-color: rgb(180, 226, 43);
}
