/* 
rem means unit size relative to font-size of root html
*/
/*creating font-size of root html*/
html {
  font-size: 20px;
  background-color: rgb(43, 208, 226);
}

/*creating unit rem size */
.parent_rem {
  height: 12rem;
  width: 12rem;
  background-color: rgb(255, 0, 8);
}

/* creating relative unit size depends on other */
.child_percent {
  height: 50%;
  width: 50%;
  background-color: rgb(180, 226, 43);
}
