#main {
  height: 100vh;
  width: 100vw;
  background-color: black;
  background-image: url("Images/food-2.jpg"); /*set background image */
  background-position: center;
  background-repeat: no-repeat; /*not to repeat image*/
  background-position: left;
  background-size: contain; /*val: auto,contain, cover*/
  background-attachment: fixed; /*val: fixed, scroll*/
}
#img {
  background-color: black;
  border-radius: 30px;
  height: 30vh;
  width: 30vw;
  padding-bottom: 3px;
}

#food {
  height: 99%;
  width: 99%;
  border: 3px dashed red;
  border-radius: 30px;
}

#food:hover {
  opacity: 0.5;
}

#tx1 {
  font-size: 50px;
  color: yellow;
}
